<div class="hidden md:flex flex-col w-80 h-fit rounded-lg p-6 bg-white">
  <div
    class="text-2xl font-bold uppercase text-gray-700 mb-5 flex justify-between"
  >
    <p>Rules</p>
    <img alt="close" src="./images/icon-close.svg" class="h-4 cursor-pointer" />
  </div>
  <img alt="Rules" src="./images/image-rules-bonus.svg" />
</div>

<div
  class="flex md:hidden flex-col h-full w-[100vw] p-5 items-center align-middle bg-white"
>
  <p class="text-2xl font-bold text-center uppercase text-gray-700 mb-5 p-10">
    Rules
  </p>
  <img alt="Rules" src="./images/image-rules-bonus.svg" class="my-auto" />
  <img
    alt="close"
    src="./images/icon-close.svg"
    class="h-4 cursor-pointer mb-10"
  />
</div>
